<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

<h2 class="footer-heading"><div align="center" > <h6 style="color: #5e9ca0; text-align: justify;"><span style="color: #000000;">
  Please try refreshing the page again if the slideshow doesn't scale properly. I just can't seem to figure out this bug 🐛.
  Feel free to reach out to if anything you read interests you! <br />
  This portfolio is last updated on: {{ site.time | date: '%b %d, %Y' }}</span></h6>
  </div>
</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.description| escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

<!--      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div> -->
    </div>

  </div>

</footer>
